{% extends 'base.html.twig' %}

{% block body %}
    <h1>UnitMeasure list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unitMeasure in unitMeasures %}
            <tr>
                <td><a href="{{ path('unitmeasure_show', { 'id': unitMeasure.id }) }}">{{ unitMeasure.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('unitmeasure_show', { 'id': unitMeasure.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('unitmeasure_edit', { 'id': unitMeasure.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unitmeasure_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
