{% extends 'animal/animal_layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('animalphoto_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('animalphoto_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>AnimalPhoto list</h1>

<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column|trans }}</th>
                    {% endfor %}
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for animalPhoto in animalPhotos %}
                <tr>
                    <td><a href="{{ path('animalphoto_show', { 'id': animalPhoto.id }) }}">{{ animalPhoto.id }}</a></td>
                    <td>{{ animalPhoto.name }}</td>
                    <td>{{ animalPhoto.path }}</td>
                    <td>{% if animalPhoto.datCre %}{{ animalPhoto.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if animalPhoto.datUpd %}{{ animalPhoto.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                       <a class="btn btn-sm btn-info" href="{{ path('animalphoto_show', { 'id': animalPhoto.id }) }}"> <span class="glyphicon glyphicon-share"></span> Show
                    </a>

                    <a class="btn btn-sm btn-default" href="{{ path('animalphoto_edit', { 'id': animalPhoto.id }) }}">   <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
