{% extends 'animal/animal_layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('fooditem_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('fooditem_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>FoodItem list</h1>

     <div class="table-responsive">
            <table class="table table-hover records_list">
                <thead>
                 <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Code{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Datcre{% endtrans %}</th>
                <th>{% trans %}Datupd{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
                </thead>
        <tbody>
        {% for foodItem in foodItems %}
            <tr>
                <td><a href="{{ path('fooditem_show', { 'id': foodItem.id }) }}">{{ foodItem.id }}</a></td>
                <td>{{ foodItem.code }}</td>
                <td>{{ foodItem.name }}</td>
                <td>{{ foodItem.description }}</td>
                <td>{% if foodItem.datCre %}{{ foodItem.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if foodItem.datUpd %}{{ foodItem.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                            <a class="btn btn-sm btn-info" href="{{ path('fooditem_show', { 'id': foodItem.id }) }}">
                            <span class="glyphicon glyphicon-share"></span> Show</a>

                            <a class="btn btn-sm btn-default" href="{{ path('fooditem_edit', { 'id': foodItem.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span> Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>





{% endblock %}